# Laravel-specific files
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.phpunit.result.cache

# Cache and logs
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

# IDE and system files
*.idea
*.vscode
*.DS_Store
Thumbs.db
*.log

# Composer and npm files
composer.lock
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json

# Environment-specific files
.env.*
Homestead.yaml
Homestead.json
.env.backup

# Laravel Mix files
/public/hot
/public/mix-manifest.json
/public/css/*.map
/public/js/*.map

# PHPUnit
.phpunit.result.cache

# SQLite databases
database/*.sqlite
database/*.sqlite3

# Backup files
*.bak
*.tmp
*.swp
